{% extends "layout.twig" %}

{% block title %} Detalles de canción {% endblock %}

{% block main_container %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/covers/{{ song._id }}.png" >
		  </div>
		  <div class="media-body">
			 <h2>{{song.title}}</h2>
			 <p>{{song.author}}</p>
			 <p>{{song.kind}}</p>
			 <button type="button" class="btn btn-primary pull-right">{{ song.price }} €</button>
			 <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>
	  
	 <!-- -->
	 <div class="row" style="margin-top: 20px;" >
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../../public/images/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../../public/images/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../../public/images/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
	  </div>
{% endblock %}